.list {
    padding: 0 4.5em ;

    /* font: 1.5em var(--main-font); */
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
  }